<div *ngIf="isWaitingForTacos()"
     data-testid="no-taco"
     class="taco-area taco-area_no-taco">
  Waiting for tacos
</div>

<div *ngIf="tacoError"
     data-testid="taco-error"
     class="taco-area">
  Failed to get data - No tacos today
</div>

<ul class="tacoArea">
  <li *ngFor="let taco of tacos"
      class="taco-area taco-area_taco">
    {{taco.type}} taco
  </li>
</ul>


<div
  *ngIf="showLateMessage"
  class="taco-area taco-area_late-message"
  data-testid="late-message">
  Thanks for waiting!
</div>
